@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");
body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-main-div {
  width: 100%;
  height: 75px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  z-index: 999999;
}
.header-main-div .image-icon {
  width: 17%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-main-div .image-icon h1 {
  font-family: Karma, sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #27607e;
  padding-top: 14px;
}
.header-main-div .nav-wrap {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-main-div .nav-wrap p {
  cursor: pointer;
  font-family: Karma, sans-serif;
  font-size: 14.5px;
  font-weight: 600;
}
.header-main-div .active {
  text-decoration: none;
  color: rgb(252, 87, 45);
  font-family: Karma, sans-serif;
  font-weight: 800;
  font-size: 14.5px;
}
.header-main-div .notActive {
  text-decoration: none;
  color: #202020;
  font-family: Karma, sans-serif;
  font-size: 14.5px;
  font-weight: 600;
}
.header-main-div .toggle-div {
  width: 25%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-main-div .toggle-div input {
  width: 73%;
  height: 60%;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #27607e;
  outline: none;
}
.header-main-div .toggle-div button {
  width: 25%;
  height: 60%;
  border-radius: 7px;
  background-color: #27607e;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 12px;
}
.header-main-div .cart-icon {
  position: absolute;
  left: 47.4rem;
  bottom: 2rem;
}
.header-main-div .round-count {
  width: 15px;
  height: 15px;
  font-size: 13px;
  background-color: #ff734d;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 48rem;
  bottom: 2.6rem;
}
.header-main-div .category-drop-down {
  width: 150px;
  height: 150px;
  font-size: 13px;
  border-radius: 6px;
  background-color: #27607E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 37rem;
  bottom: 0rem;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
  animation: fadeInDown;
  animation-duration: 1s;
}
.header-main-div .category-drop-down .p {
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.header-main-div .category-drop-down .p:hover {
  color: #ff734d;
  transition: all 350ms ease-in;
  font-size: 16px;
}

@media screen and (max-width: 320px) {
  .header-main-div {
    width: 100%;
    height: 75px;
    background-color: yellow;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    z-index: 999999;
  }
  .header-main-div .image-icon {
    width: 17%;
    height: 90%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .header-main-div .image-icon h1 {
    font-family: Karma, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #27607e;
    padding-top: 14px;
  }
  .header-main-div .nav-wrap {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .header-main-div .nav-wrap p {
    cursor: pointer;
    font-family: Karma, sans-serif;
    font-size: 14.5px;
    font-weight: 600;
  }
  .header-main-div .active {
    text-decoration: none;
    color: rgb(252, 87, 45);
    font-family: Karma, sans-serif;
    font-weight: 800;
    font-size: 14.5px;
  }
  .header-main-div .notActive {
    text-decoration: none;
    color: #202020;
    font-family: Karma, sans-serif;
    font-size: 14.5px;
    font-weight: 600;
  }
  .header-main-div .toggle-div {
    width: 25%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .header-main-div .toggle-div input {
    width: 73%;
    height: 60%;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #27607e;
    outline: none;
  }
  .header-main-div .toggle-div button {
    width: 25%;
    height: 60%;
    border-radius: 7px;
    background-color: #27607e;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 12px;
  }
  .header-main-div .cart-icon {
    position: absolute;
    left: 47.4rem;
    bottom: 2rem;
  }
  .header-main-div .round-count {
    width: 15px;
    height: 15px;
    font-size: 13px;
    background-color: #ff734d;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 48rem;
    bottom: 2.6rem;
  }
  .header-main-div .category-drop-down {
    width: 150px;
    height: 150px;
    font-size: 13px;
    border-radius: 6px;
    background-color: #27607E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 37rem;
    bottom: 0rem;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 14px;
    animation: fadeInDown;
    animation-duration: 1s;
  }
  .header-main-div .category-drop-down .p {
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  .header-main-div .category-drop-down .p:hover {
    color: #ff734d;
    transition: all 350ms ease-in;
    font-size: 16px;
  }
}/*# sourceMappingURL=Header.css.map */